version: "3.8"
services:

  orders-microservice:
    image: deathstroke10/ordersmicroservice:3.0.0
    depends_on:
      - users-microservice
      - products-microservice
    environment:
      MONGODB_HOST: "mongodb+srv://kishlay1394_db_user:DmEoqY4cyMKajH8i@orderservice.raur6pl.mongodb.net/?appName=orderservice"
      MONGODB_ORDERS_DB: "OrdersDatabase"
      UsersMicroserviceURL: "apigateway:8080"
      ProductMicroserviceURL: "apigateway:8080"
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "7000:8080"
    networks:
    - ecommerce-network

  products-microservice:
    image: deathstroke10/ecoommece-product-microservice:8.0.0
    environment:
      CONNECTIONSTRINGS_DEFAULTCONNECTION: "Server=ecommerceproduct.mysql.database.azure.com;Port=3306;Database=ecommerceproductsdatabase;User ID=mysqladmin;Password=I@mthebest10"
    ports:
      - "8080:8080"
    networks:
    - ecommerce-network

  users-microservice:
    image: deathstroke10/ecommerce-users-microservice:2.0.0
    environment:
      CONNECTIONSTRINGS_DEFAULTCONNECTION_USERS: "Host=ecommerceusers.postgres.database.azure.com;Port=5432;Database=eCommerceUsers;Username=postgresadmin;Password=I@mthebest10"
    ports:
      - "9090:8080"
    networks:
    - ecommerce-network
   
  redis:
   image: redis:latest
   ports:
    - "6379:6379"
   volumes:
    - d:/RedisCacheData/ecommerceV2:/data
   networks:
    - ecommerce-network
  
  apigateway:
   image: deathstroke10/ecommerce-gateway:1.0.0
   ports:
    - "4000:8080"
   networks:
    - ecommerce-network

networks:
 ecommerce-network:
  driver: bridge
